@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);
@import url(./components/header/header.css);
@import url(./components/main/main.css);
@import url(./components/footer/footer.css);

body {
  margin: 0;
  font-family: 'Donkey', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/3.png");
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: contain;
  background-size: cover;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
