@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);
@import url(./components/header/header.css);
@import url(./components/main/main.css);
@import url(./components/footer/footer.css);

body {
  margin: 0;
  font-family: 'Donkey', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #46E83B;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
